* {
    margin: 0;
    padding: 0;
}

#grid-container {
    padding: 16px;
    height: 920px;
    row-gap: 16px;
    column-gap: 16px;
    background-color: #fdfcdc;
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 1fr 40px ;
    grid-template-rows: 50px 400px 150px 200px 50px;
    grid-template-areas:   ". header header header header ."
                            ". main-one main-one main-one main-one ."
                            ". aside-four aside-one aside-two aside-three ."
                            ". aside-four main-two main-two main-two  ."
                            ". footer footer footer footer .";
}


.grid-item {
    padding: 8px;
    color: #fdfcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
}


#grid-header {
    background-color: #004e89;
    grid-area: header;
}

#grid-main-one {
    background-color: #f7c59f;
    grid-area: main-one;
}

#grid-aside-one {
    background-color: #ff6b35;
    grid-area: aside-one;
}

#grid-aside-two {
    background-color: #1a659e;
    grid-area: aside-two;
}

#grid-aside-three {
    background-color: #ff6b35;
    grid-area: aside-three;
}

#grid-aside-four {
    background-color: #1a659e;
    grid-area: aside-four;
}

#grid-main-two {
    background-color: #f7c59f;
    grid-area: main-two;
}

#grid-footer {
    background-color: #ff6b35;
    grid-area: footer;
}